.profilePicContainer {
  display: flex;
  align-items: center;
  gap: 10px;
  position: relative;
}

.username {
  font-size: 1.5rem;
}

.dropdownMenu {
  right: auto !important;
  left: auto !important;
  margin-left: -95px !important; /* Adjust this value */
}
