.profilePicContainer {
 display: flex;
 align-items: center;
 gap: 10px;
 position: relative;
}

.username {
 font-size: 1.5rem;
}

.profilePic {
 width: 50px;
 height: 50px;
 border-radius: 10px; /* Rounded square */
 cursor: pointer;
}

.dropdownMenu {
    right: auto !important;
    left: auto !important;
    margin-left: -95px !important; /* Adjust this value */
}