.imageSeasonPoster {
 position: relative;
 width: 100%; /* Adjust this to control the width */
 padding-top: 158.33%; /* 276/437 * 100% = 63.16% for 276x437 aspect ratio */
 overflow: hidden;
 border-radius: 5px;
}

.imageSeasonPoster img {
 position: absolute;
 top: 0;
 left: 0;
 width: 100%;
 height: 100%;
 object-fit: cover;
 border-radius: 5px;
}

.seasonLabel {
  margin-top: 6px;
  text-align: center;
  font-weight: 600;
  font-size: 0.95rem;
  color: #eee;
}