/* General Styling */
html,
body {
 margin: 0; /* Removes any default margins */
 padding: 0; /* Removes any default padding */
 width: 100%; /* Ensures the page takes up the full viewport width */
 overflow-x: hidden; /* Disables horizontal scrolling */
}

.container,
.container-fluid {
 padding: 5px;
}

.container-fluid.backdrop {
 position: relative; /* To position child elements */
 width: 100vw; /* Full viewport width */
 min-height: 100vh; /* Use min-height instead of height for scrolling */
 margin: 0; /* Remove default margins */
 padding: 0; /* Remove default padding */
 overflow-x: hidden; /* Only hide horizontal overflow, allow vertical scrolling */
}

.content-overlay {
 position: relative; /* Stays above the background image */
 z-index: 1;
 width: 100%;
 min-height: 100%; /* Ensure content stretches if shorter */
 padding: 20px;
 color: white;
 overflow-y: auto; /* Enables scrolling if content overflows */
}

.container,
.container-fluid,
.container-lg,
.container-md,
.container-sm,
.container-xl,
.container-xxl {
 --bs-gutter-x: 0;
}

.row {
 padding: 5px;
 --bs-gutter-x: 0;
}

.row.center {
 justify-content: center;
}

.row.left {
 justify-content: left;
}

/* Genre Buttons */
.genre {
 border: 1px solid blue;
 padding: 2px;
}