.imageContainer {
 display: inline-block;
 position: relative;
 overflow: hidden;
 padding: 0.2%;
 transition: filter 0.3s ease;
}

.imageContainer.poster:hover img {
 filter: blur(4px);
}

.imageContainer.poster img {
 width: 100%;
 height: 100%;
 aspect-ratio: 2/3;
}

/* `still` is only used in SeasonPage */
.imageContainer.still img {
 aspect-ratio: 16/9;
 width: 100%;
 height: 100%;
 object-fit: cover;
}

.imageBorder {
 border: 1px solid rgb(217, 217, 217);
 border-radius: 4px; /* If you want to keep the rounded corners */
}

.backgroundImage {
 position: fixed; /* Fixes the background image */
 top: 0;
 left: 0;
 width: 100%;
 height: 100%;
 object-fit: cover; /* Ensures the image fully covers the container */
 z-index: -1; /* Ensures the image stays behind content */
 filter: blur(3px) brightness(40%); /* Optional: Adds styling effects */
}

.imageContainer:hover .buttonsContainer {
 display: block;
 opacity: 1;
}

.buttonsContainer {
 display: none;
 position: absolute;
 top: 0;
 left: 0;
 width: 100%;
 height: 100%;
 background-color: rgba(0, 0, 0, 0.7);
 color: white;
 text-align: center;
 opacity: 0;
 transition: opacity 0.3s ease;
}

.buttonsContainer button {
 border: none;
 background-color: white;
 color: black;
 font-size: 16px;
 cursor: pointer;
}

.buttonsContainer button:hover {
 background-color: black;
 color: white;
}

/* =========================
   Common Icon Styling
   ========================= */
.icon {
  transition: all 0.9s ease;
  cursor: pointer;
  font-size: 1rem;
}

.icon:hover {
  transform: scale(1.5);
  opacity: 0.8;
}

/* =========================
   Eye (Watch / Unwatch)
   ========================= */
.eyeSlashFill {
  color: red; /* Not watched */
}

.eyeFill {
  color: green; /* Watched */
}

/* =========================
   Heart (Like)
   ========================= */
.heart {
  transition: color 0.3s ease;
}

.liked {
  color: rgb(255, 102, 0); /* Liked state */
}

.notLiked {
  color: white; /* Default */
}

.heart:not(.liked):hover {
  color: red; /* Hover color when not liked */
}

.heart.liked:hover {
  color: white; /* Hover color when liked */
}

/* =========================
   Watchlist, Remove, Options
   ========================= */

.remove {
  color: red;
}

.options {
  color: #aaa; /* subtle gray */
}




.customCol10 {
 flex: 0 0 10%; /* 12.5% width for each item to make 8 items per row */
 max-width: 10%; /* Set max-width also to 12.5% */
}

.blurred {
 filter: brightness(25%);
 transition: filter 0.3s ease-in-out;
}